NEXT_PUBLIC_NODE_ENV=development
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
NEXT_PUBLIC_CRYPTO_API_URL="https://min-api.cryptocompare.com/data/"
NEXT_PUBLIC_CRYPTO_API_KEY="860443eb5c3c78c12a94f9e01281c49b796a8d0f606ed4aeee4cc82fc40bddea"