{
	"trailingComma": "es5",
	"arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "jsxSingleQuote": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/components/(.*)$",
		"^@/providers/(.*)$",
		"^@/redux/(.*)$",
		"^@/api/(.*)$",
		"^@/services/(.*)$",
		"^@/configs/(.*)$",
		"^@/utils/(.*)$",
		"^@/helpers/(.*)$",
		"^@/hooks/(.*)$",
		"^@/types/(.*)$",
		"(.interface)$",
		"^@/images/(.*)$",
		"^@/svg/(.*)$",
		"^@/styles/(.*)$",
		"^../.*[^.scss]$",
		"^./.*[^.scss]$",
		"(.scss)$"
		
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}