$font-main: 'Poppins';
$color-accent: #ea1313;
$color-secondary: #0fbb0f;
$color-dark-primary: #191b1f;
$color-light-primary: #e7dfe4;

@mixin custom-scrollbar {
  scrollbar-color: $color-accent $color-dark-primary;
  scrollbar-width: thin;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $color-dark-primary;
  }

  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: $color-dark-primary;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $color-accent;
  }
}